@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app {
  font-family: "Roboto", sans-serif;
  padding: 10px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  width: min-content;
  display: inline-block;
}

.app-name {
  align-self: flex-start;
}
